.designAnswers {
  width: 500px;
  margin-left: 600px;
  margin-top: 150px;
}

.buttonAnswers {
  margin-top: 20px;
  background-color: lightskyblue;
}

.buttonAnswers:hover,
.buttonAnswers:focus {
  color: black;
  background-color: white;
  transition: all 1s ease-out;
}

.designClose {
  color: white;
  font-size: 30px;
}
