.head {
  color: white;
}

/* .content {
  margin-top: 200px;
} */

.foot {
  border-top: 1px solid #e8e8e8;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #001529;
  color: white;
  height: 50px;
}
