.head {
  color: white;
  display: flex;
  flex-direction: row;
}

.layout-content {
  height: 790px;
  background-color: steelblue;
}

.foot {
  border-top: 1px solid #e8e8e8;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #001529;
  color: white;
  height: 50px;
}
